<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>{{this.title}}</h1>
        </div>
    </div>
</div>

<div id="articles">
    {{#each articles}}
        <p>{{this.title}}</p>
    {{/each}}
</div>

<div id="notes">
    {{this.articles}}
</div>
