<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mongo Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/saved">Saved Articles</a></li>
            <li><a href="/api">Articles API</a></li>
        </ul>
        <a class="btn btn-primary navbar-btn" id="scrapeBtn" href="/api/scrape">Scrape New Articles!</a>
    </div>
</nav>

<div id="articles">
    {{#each articles}}
        <div class="well">
            <div class="row">
                <div class="col col-md-8">
                    <h4><a href="{{this.link}}">{{this.title}}</a></h4>
                </div>
                <div class="col col-md-2">
                    <a class="btn btn-success" href="#" data-toggle="modal" data-target="#myModal">Notes</a>
                </div>
                <div class="col col-md-2">
                    <a class="btn btn-danger" href="/api/delete/{{this.id}}">Delete Article</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<!-- notes modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Notes for {{this.title}}</h4>
            </div>
            <div class="modal-body">
                <p>hello</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
